{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <header class="row">
        {% for header in headers %}
        <div class="col-md-4">
            <img src="{{header.image.url}}" alt="profile image" class="rounded-circle img-fluid">
        </div>
        <div class="col-md-8 my-auto text-light">
            
            <h1>{{header.title}}</h1>
            <h3>{{header.subtitle}}</h3>
            <p>{{header.description}}</p>
            <a class="btn btn-primary btn-sm" href="https://github.com/GuidoPauletti" target="_blank">Github Profile</a>
        </div>
        {% endfor %}
    </header>

    <div class="row mg-4 text-center mt-5">
        <h3>My Projects</h3>
        {% for project in projects %}
        <div class="col-md-4 p-4">
            <div class="card bg-white card-project text-dark">
                <img src="{{project.image.url}}" alt="" class="card-img-top">
                <div class="card-body">            
                    <h4>{{project.title}}</h4>
                    {% if project.url %}
                        <a href="{{project.url}}" class="btn btn-dark btn-sm" target="_blank">{{project.url|truncatechars:34}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}